<?xml version="1.0" ?>
<!--
/**
 * Copyright © Carriyo. All rights reserved.
 * https://www.carriyo.com | info@carriyo.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriyo>
			<api_credentials>
				<api_key/>
				<tenant_id/>
				<client_secret/>
				<merchant/>
			</api_credentials>
			<pickup_address>
				<contact_name/>
				<contact_phone/>
				<address1/>
				<city/>
				<state/>
				<country>AE</country>
			</pickup_address>
			<shipping_method_map>
				<shipping_methods/>
			</shipping_method_map>
		</carriyo>
	</default>
</config>
