<?xml version="1.0" ?>
<!--
/**
 * Copyright © Carriyo. All rights reserved.
 * https://www.carriyo.com | info@carriyo.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriyo>
			<api_credentials>
				<api_key/>
				<tenant_id/>
				<client_secret/>
				<merchant/>
			</api_credentials>
			<api_endpoints>
				<api_url>https://demo-api.carriyo.com</api_url>
				<api_oauth_url>https://demo-auth.carriyo.com</api_oauth_url>
			</api_endpoints>
			<carriyo_mappings>
				<shipping_methods_map/>
				<allowed_statuses_other>processing</allowed_statuses_other>
				<allowed_statuses_cod>pending,processing</allowed_statuses_cod>
				<order_status_map>booked=processing,shipped=processing,delivered=complete</order_status_map>
			</carriyo_mappings>
		</carriyo>
	</default>
</config>
