<?xml version="1.0" ?>
<!--
/**
 * Copyright © Carriyo. All rights reserved.
 * https://www.carriyo.com | info@carriyo.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Shipping\Controller\Adminhtml\Order\Shipment\Save">
		<plugin disabled="true" name="Carriyo_Shipment_Plugin_ShipmentSave" sortOrder="10" type="Carriyo\Shipment\Plugin\ShipmentSave"/>
	</type>

	<type name="Magento\Shipping\Block\Adminhtml\View">
		<plugin disabled="false" name="Carriyo_Shipment_Plugin_View" sortOrder="15" type="Carriyo\Shipment\Plugin\View"/>
	</type>

	<type name="Magento\Sales\Model\Order">
		<plugin name="coupon_uses_increment_plugin" type="Carriyo\Shipment\Plugin\CreateOrderPlugin" sortOrder="26"/>
	</type>

</config>
