<?xml version="1.0"?>
<!--
/**
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="sales_order_address_save_after">
        <observer name="carriyo_address_save" instance="Carriyo\Shipment\Observer\SalesOrderAddressSaveAfter" />
    </event>
    <event name="order_cancel_after">
        <observer name="carriyo_order_cancel" instance="Carriyo\Shipment\Observer\SalesOrderCancelAfter" />
    </event>
    <event name="sales_order_save_after">
        <observer name="carriyo_order_save" instance="Carriyo\Shipment\Observer\SalesOrderSaveAfter" />
    </event>

</config>
