<?xml version="1.0" ?>
<!--
/**
 * Copyright © Carriyo. All rights reserved.
 * https://www.carriyo.com | info@carriyo.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="carriyo" sortOrder="999" translate="label">
            <label>Carriyo</label>
        </tab>
        <section id="carriyo" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Settings</label>
            <tab>carriyo</tab>
            <resource>Carriyo_Shipment::config_carriyo_shipment</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
                <label>Enable module</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <attribute type="expanded">1</attribute>
            </group>
            <group id="api_credentials" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10"
                   translate="label">
                <label>API Credentials</label>
                <field id="api_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label"
                       type="text">
                    <label>API Key</label>
                    <comment/>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="tenant_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10"
                       translate="label" type="text">
                    <label>Tenant ID</label>
                    <comment>* Provide the Tenant ID (case sensitive)</comment>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="client_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10"
                       translate="label" type="text">
                    <label>Client ID</label>
                    <comment/>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="client_secret" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10"
                       translate="label" type="obscure">
                    <label>Client Secret</label>
                    <comment/>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <config_path>carriyo/api_credentials/client_secret</config_path>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="merchant" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10"
                       translate="label" type="text">
                    <label>Merchant</label>
                    <comment>* Provide the Merchant ID (case sensitive)</comment>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
            </group>
            <group id="api_endpoints" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15"
                   translate="label">
                <label>API Endpoints</label>
                <field id="api_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label"
                       type="text">
                    <label>API Domain</label>
                    <comment>eg: https://demo-api.carriyo.com</comment>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="api_oauth_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15"
                       translate="label" type="text">
                    <label>API OAuth DOMAIN</label>
                    <comment>https://demo-auth.carriyo.com</comment>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
            </group>
            <group id="pickup_address" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20"
                   translate="label">
                <label>Pickup Address</label>
                <field id="location_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20"
                       translate="label" type="text">
                    <label>Location Code</label>
                    <comment>Provide the Carriyo location code for the default pickup location you want to use for shipments</comment>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
            </group>
            <group id="carriyo_mappings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30"
                   translate="label">
                <label>Carriyo Mappings</label>
                <field id="shipping_methods_map" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30"
                       translate="label" type="textarea">
                    <label>Shipping Method Mapping</label>
                    <comment>Map your Magento shipping methods to Carriyo delivery methods</comment>
                </field>
                <field id="allowed_statuses_other" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30"
                       translate="label" type="textarea">
                    <label>Allowed Order Statuses (Other Payment Types)</label>
                    <comment>List of Magento statuses that are allowed to update Carriyo for non COD orders</comment>
                </field>
                <field id="allowed_statuses_cod" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30"
                       translate="label" type="textarea">
                    <label>Allowed Order Statuses (COD)</label>
                    <comment>List of Magento statuses that are allowed to update Carriyo for COD orders</comment>
                </field>
                <field id="order_status_map" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30"
                       translate="label" type="textarea">
                    <label>Order Status Mapping</label>
                    <comment>Map Carriyo statuses to Magento statuses</comment>
                </field>
                <field id="shipment_reference_prefix" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30"
                       translate="label" type="text">
                    <label>Shipment Reference Prefix</label>
                    <comment> Add an optional prefix to the Carriyo shipment reference. Use this when your Magento order numbers are not unique across merchants.</comment>
                    <validate>validate-no-html-tags</validate>
                </field>
            </group>
        </section>
    </system>
</config>
