<?xml version="1.0" ?>
<!--
/**
 * Copyright © Carriyo. All rights reserved.
 * https://www.carriyo.com | info@carriyo.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="carriyo" sortOrder="999" translate="label">
            <label>Carriyo</label>
        </tab>
        <section id="carriyo" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Settings</label>
            <tab>carriyo</tab>
            <resource>Carriyo_Shipment::config_carriyo_shipment</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Carriyo Module</label>
                    <config_path>carriyo/general/active</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Debug Logging</label>
                    <comment>If enabled, Carriyo requests will log headers (including OAuth token) and payloads to carriyo.log. Disable in production.</comment>
                    <config_path>carriyo/general/debug</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="integration_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Integration mode</label>
                    <comment>Select whether Carriyo integrates through orders or shipments.</comment>
                    <config_path>carriyo/general/integration_mode</config_path>
                    <source_model>Carriyo\Shipment\Model\System\Config\Source\IntegrationMode</source_model>
                </field>
                <field id="location_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90"
                       translate="label" type="text">
                    <label>Default Location Code</label>
                    <comment>Default Carriyo pickup location code.</comment>
                    <config_path>carriyo/pickup_address/location_code</config_path>
                    <validate>validate-no-html-tags</validate>
                </field>
                <field id="shipping_methods_map" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100"
                       translate="label" type="textarea">
                    <label>Shipping Method Mapping</label>
                    <comment>Map Magento shipping method codes to Carriyo delivery types. Example: `flatrate_flatrate=STANDARD,freeshipping_freeshipping=EXPRESS`.</comment>
                    <config_path>carriyo/carriyo_mappings/shipping_methods_map</config_path>
                </field>
                <attribute type="expanded">1</attribute>
            </group>
            <group id="connection" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Connection</label>
                <field id="api_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label"
                       type="text">
                    <label>API Domain</label>
                    <comment>eg: https://api.carriyo.com</comment>
                    <config_path>carriyo/api_credentials/api_url</config_path>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="tenant_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40"
                       translate="label" type="text">
                    <label>Tenant ID</label>
                    <comment>* Provide the Tenant ID (case sensitive)</comment>
                    <config_path>carriyo/api_credentials/tenant_id</config_path>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="merchant" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50"
                       translate="label" type="text">
                    <label>Merchant ID</label>
                    <comment>* Provide the Merchant ID (case sensitive)</comment>
                    <config_path>carriyo/api_credentials/merchant</config_path>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="api_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="obscure">
                    <label>API Key</label>
                    <config_path>carriyo/api_credentials/api_key</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="client_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70"
                       translate="label" type="text">
                    <label>Client ID</label>
                    <config_path>carriyo/api_credentials/client_id</config_path>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="client_secret" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80"
                       translate="label" type="obscure">
                    <label>Client Secret</label>
                    <config_path>carriyo/api_credentials/client_secret</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
            </group>
            <group id="triggers" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10"
                   translate="label">
                <label>Triggers</label>
                <field id="allowed_statuses_cod" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10"
                       translate="label" type="textarea">
                    <label>Order Triggers for COD</label>
                    <comment>List of Magento statuses to trigger outbound sync for COD orders. Example: `pending,processing`.</comment>
                    <config_path>carriyo/carriyo_mappings/allowed_statuses_cod</config_path>
                </field>
                <field id="allowed_statuses_other" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20"
                       translate="label" type="textarea">
                    <label>Order Triggers for other payment types</label>
                    <comment>List of Magento statuses to trigger outbound sync for non-COD orders. Example: `processing`.</comment>
                    <config_path>carriyo/carriyo_mappings/allowed_statuses_other</config_path>
                </field>
            </group>
            <group id="order_mappings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20"
                   translate="label">
                <label>Order Integration Mode</label>
                <field id="order_status_map" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30"
                       translate="label" type="textarea">
                    <label>Order Status Mapping</label>
                    <comment>Map Carriyo statuses to Magento status. Example: `open=processing,partially_allocated=processing,allocated=processing,fulfilled=processing,closed=complete,cancelled=canceled`.</comment>
                    <config_path>carriyo/order_mappings/order_status_map</config_path>
                </field>
                <field id="order_reference_prefix" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40"
                       translate="label" type="text">
                    <label>Order Reference Prefix</label>
                    <comment>Optional prefix for Carriyo order reference. Example: `MGT-`.</comment>
                    <config_path>carriyo/order_mappings/order_reference_prefix</config_path>
                    <validate>validate-no-html-tags</validate>
                </field>
                <field id="delivery_schedule_from_field" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50"
                       translate="label" type="text">
                    <label>Delivery Schedule From Date Mapping</label>
                    <comment>Optional Magento order-level custom field name to map into `delivery_schedule.scheduled_from`.</comment>
                    <config_path>carriyo/order_mappings/delivery_schedule_from_field</config_path>
                    <validate>validate-no-html-tags</validate>
                </field>
                <field id="delivery_schedule_to_field" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60"
                       translate="label" type="text">
                    <label>Delivery Schedule To Date Mapping</label>
                    <comment>Optional Magento order-level custom field name to map into `delivery_schedule.scheduled_to`.</comment>
                    <config_path>carriyo/order_mappings/delivery_schedule_to_field</config_path>
                    <validate>validate-no-html-tags</validate>
                </field>
            </group>
            <group id="shipment_mode" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30"
                   translate="label">
                <label>Shipment Integration Mode</label>
                <field id="shipment_status_map" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20"
                       translate="label" type="textarea">
                    <label>Shipment Status Mapping</label>
                    <comment>Map Carriyo shipment statuses to Magento order status. Example: `booked=processing,shipped=processing,delivered=complete,cancelled=canceled`.</comment>
                    <config_path>carriyo/carriyo_mappings/order_status_map</config_path>
                </field>
                <field id="auto_book_shipments" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Auto Book Shipments</label>
                    <comment>Enable this option to automatically confirm shipments.</comment>
                    <config_path>carriyo/carriyo_mappings/auto_book_shipments</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shipment_reference_prefix" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50"
                       translate="label" type="text">
                    <label>Shipment Reference Prefix</label>
                    <comment>Optional prefix for Carriyo shipment reference.</comment>
                    <config_path>carriyo/carriyo_mappings/shipment_reference_prefix</config_path>
                    <validate>validate-no-html-tags</validate>
                </field>
            </group>
        </section>
    </system>
</config>
